beautifulsoup4==4.5.1
cssselect==1.0.0
dataset==0.8.0
duckling==1.1.4
feedfinder2==0.0.4
feedparser==5.2.1
idna==2.1
jieba3k==0.35.1
JPype1==0.6.1
Logbook==1.0.0
lxml==3.6.4
newspaper3k==0.1.7
nltk==3.2.1
Pillow==3.4.2
PyQt5==5.7
python-dateutil==2.5.3
PyYAML==3.12
requests==2.11.1
requests-file==1.4.1
sip==4.18.1
six==1.10.0
tldextract==2.0.2
wit==4.2.0
duckling==1.7.1